@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* Core style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  -moz-outline-style: none;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.language-box {
  position: relative;
}
.language-box .selected-lang {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.language-box .selected-lang .arrow-down {
  transition: all 0.1s linear;
}
.language-box .selected-lang.active .arrow-down {
  transform: rotate(90deg);
}
.language-box .lang-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.94px;
  color: #fff;
}
.language-box .option-language {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  user-select: none;
  cursor: pointer;
}
.language-box .option-language.show {
  display: block;
}

.tabs {
  display: flex;
  gap: 67px;
}
.tabs .tab-item {
  width: 249px;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background: url(../../images/bg.png) no-repeat;
  background-size: cover;
}

.btn,
.frozen-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 700;
  height: 35px;
  padding: 0 10px;
  color: #fff;
  background: linear-gradient(136.06deg, rgba(44, 128, 240, 0.04) 0%, rgba(255, 255, 255, 0) 106.04%);
  border: 1px solid #0a5bcf;
  box-shadow: 9.09px 4.55px 18.19px 0px rgba(0, 0, 0, 0.0784313725), 0px 0px 8.46px 0px #054095 inset;
  border-radius: 12px;
  width: fit-content;
}

.frozen-btn {
  background: linear-gradient(136.06deg, rgba(248, 251, 255, 0.04) 0%, rgba(255, 255, 255, 0) 106.04%);
  border: 0.91px solid #5a6896;
  box-shadow: 9.09px 4.55px 18.19px 0px rgba(0, 0, 0, 0.0784313725), inset 0px 0px 8.46px 0px #677dc9;
  gap: 15px;
  padding: 0 19px 0 8px;
  color: #9e9e9e;
}

.primary-btn {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: center;
  color: #03a8f0;
  background: rgba(4, 18, 44, 0.6980392157);
  border-radius: 15px;
  width: fit-content;
  padding: 0 28px;
  cursor: pointer;
  white-space: nowrap;
  border: 3px solid transparent;
  transition: all 0.2s linear;
}
.primary-btn.active {
  border-color: #0494fd !important;
  background: url(../../images/btn-bg.png) no-repeat, rgba(0, 27, 74, 0.8) !important;
  color: #fff !important;
}
.primary-btn:hover {
  border-color: #4ab9de;
  color: #fff;
  background: linear-gradient(0deg, #002367, #002367), radial-gradient(96.34% 67.76% at 50% 100.73%, rgba(0, 194, 255, 0.3) 31.5%, rgba(0, 0, 0, 0) 100%);
  box-shadow: 0px 0px 8px 0px #0454a6 inset;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(139.69deg, rgba(248, 251, 255, 0.04) 0%, rgba(255, 255, 255, 0) 110.25%);
  border: 1px solid #0a5bcf;
  box-shadow: 9.09px 4.55px 18.19px 0px rgba(0, 0, 0, 0.0784313725), inset 0px 0px 9.09px 0px #0454a6;
  border-radius: 12px;
  height: 40px;
  width: fit-content;
  padding-right: 19px;
}
.button-group .link-btn {
  height: 40px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-group .btns {
  display: flex;
  align-items: center;
  gap: 21px;
}
.button-group .btn-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.94px;
  color: #9e9e9e;
}
.button-group .line {
  height: 24.56px;
  width: 1px;
  background: #01376a;
}

.footer {
  background: #000815;
  padding: 14px 0;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .container span {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: #0158e0;
}
.footer .social-media {
  display: flex;
  gap: 12px;
  align-items: center;
}

nav {
  padding: 16px 8px 16px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro {
  background: url(../../images/intro-bg.png) no-repeat;
  background-size: 100% 100%;
  height: 550px;
}
.intro .community-logo {
  width: 487px;
  height: 330px;
  margin: 10px auto 36px auto;
  display: block;
}
.intro .right-box {
  display: flex;
  align-items: center;
  gap: 15px;
}
.intro .btns {
  display: flex;
  gap: 20px;
}

.partners {
  max-width: 1425px;
  margin: 0 auto;
  padding: 21px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  transition: all 0.2s linear;
}
.partners img {
  filter: drop-shadow(0px 0px 9px rgba(25, 192, 244, 0.7294117647));
  opacity: 0.5;
}
.partners img.active {
  opacity: 1;
  filter: drop-shadow(0px 3px 4.5px rgba(0, 186, 244, 0.2509803922));
}

.rankings-section {
  padding: 40px 0 0 0;
  max-width: 1314px;
  margin: 0 auto;
}
.rankings-section .rankings-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.rankings-section .content-box {
  display: flex;
  border-radius: 24px;
  overflow: hidden;
  align-items: unset;
  max-width: 1200px;
  width: 100%;
}
.rankings-section .rihgt-img__box {
  max-width: 526px;
  width: 100%;
  background: #011133;
  position: relative;
}
.rankings-section .rihgt-img__box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 54.89%, #011133 98.09%);
  width: 100%;
  height: 100%;
}
.rankings-section .rihgt-img__box img {
  height: 100%;
}
.rankings-section .day-box {
  font-size: 10px;
  font-weight: 600;
  line-height: 22.5px;
  padding: 3px 21px;
  border-radius: 12px;
  background: #022557;
  width: fit-content;
  margin-left: 61px;
  color: #fff;
  margin-top: -11px;
}
.rankings-section .day-box.mt {
  margin-top: 0;
}
.rankings-section .day-box__flex {
  display: flex;
  align-items: center;
  gap: 6px;
}
.rankings-section .day-box__flex .date {
  font-size: 12px;
  font-weight: 600;
  line-height: 22.5px;
  color: #fff;
}
.rankings-section .leavel-number {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(135deg, rgba(248, 251, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 50%;
  box-shadow: 8.33px 4.17px 16.67px 0px rgba(0, 0, 0, 0.0784313725), 0px 0px 8.33px 0px #0454a6 inset;
  border: 0.84px solid #0454a6;
}
.rankings-section .leavel-number.sm-number {
  border: none;
  background: none;
  box-shadow: none;
}
.rankings-section .leavel-number .number {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0.1875px;
  color: #fff;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 173, 227, 0) 0%, rgba(0, 165, 217, 0.169355) 70%, #00a9e7 100%);
  border-radius: 50%;
}
.rankings-section .leavel-number.level-1 {
  background: linear-gradient(135deg, rgba(194, 144, 60, 0.04) 0%, rgba(255, 255, 145, 0.04) 100%);
  border: 1px solid rgba(198, 126, 20, 0.9411764706);
  box-shadow: 8.33px 4.17px 16.67px 0px rgba(0, 0, 0, 0.0784313725), 0px 0px 8.33px 0px rgba(198, 126, 20, 0.9411764706) inset;
}
.rankings-section .leavel-number.level-2 {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.0368) 0%, rgba(191, 191, 191, 0.04) 100%);
  box-shadow: 0px 0px 8.33px 0px rgba(199, 199, 199, 0.9411764706) inset;
  border-radius: 50%;
  border: 1px solid;
  border: 1px solid rgba(199, 199, 199, 0.9411764706);
}
.rankings-section .leavel-number.level-3 {
  box-shadow: 8.33px 4.17px 16.67px 0px rgba(0, 0, 0, 0.0784313725);
  box-shadow: 0px 0px 8.33px 0px #dd5e20 inset;
  border-radius: 50%;
  border: 1px solid #dd5e20;
}
.rankings-section .social-media {
  display: flex;
  gap: 18px;
  flex-direction: column;
  height: 100%;
  margin: auto 0;
}
.rankings-section .ranking-card {
  padding: 18px 20px;
  color: #fff;
  display: flex;
  gap: 6px;
  background: #011133;
}
.rankings-section .ranking-card .info-box {
  max-width: 393px;
}
.rankings-section .ranking-card .title-box {
  display: flex;
  align-items: center;
  gap: 6px;
}
.rankings-section .ranking-card .title-box .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.rankings-section .ranking-card .desc {
  margin: 4px 0 12px 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
}
.rankings-section .ranking-card .ratings {
  display: grid;
  grid-template-columns: 128px 138px;
  column-gap: 24px;
  row-gap: 8px;
}
.rankings-section .ranking-card .ratings .rating-label {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: capitalize;
}
.rankings-section .ranking-card .ratings .rating-info {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.46px;
  letter-spacing: -0.02em;
}
.rankings-section .ranking-card .ratings .card-box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 4px;
}
.rankings-section .ranking-card .ratings .img-box,
.rankings-section .ranking-card .ratings .imgs-box {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #072069;
  border-radius: 6px;
}
.rankings-section .ranking-card .ratings .img-box img,
.rankings-section .ranking-card .ratings .imgs-box img {
  width: 25px;
  height: 25px;
}
.rankings-section .ranking-card .ratings .imgs-box {
  width: 83px;
}
.rankings-section .ranking-card .ratings .imgs-box img {
  height: 29px;
  margin-top: 3px;
  margin-left: -9px;
}
.rankings-section .ranking-card .ratings .imgs-box img:first-child {
  margin-left: 0;
}
.rankings-section .ranking-card .ratings .range-slider {
  width: 82px;
  height: 13px;
  border-radius: 24px;
}
.rankings-section .ranking-card .bonus-box {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 254px;
}
.rankings-section .ranking-card .bonus-box .bonus-cards {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 220px;
}
.rankings-section .ranking-card .bonus-box .bonus-card {
  padding: 12.5px;
  border-radius: 12px;
  background: #072069;
  display: flex;
  grid-template-columns: auto auto auto auto;
  gap: 4px;
}
.rankings-section .ranking-card .bonus-box .bonus-card .box {
  width: 45px;
}
.rankings-section .ranking-card .bonus-box .bonus-card img {
  width: 25px;
  height: 25px;
}
.rankings-section .ranking-card .bonus-box .box {
  text-align: center;
}
.rankings-section .ranking-card .bonus-box .label {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  display: block;
  margin-top: 2px;
}
.rankings-section .ranking-card__box {
  display: flex;
  align-items: start;
  gap: 11px;
  border-radius: 24px;
}
.rankings-section .ranking-card__box.green .ranking-card {
  background: #33691e;
}
.rankings-section .ranking-card__box.green .ranking-card .img-box,
.rankings-section .ranking-card__box.green .ranking-card .imgs-box {
  background: #558b2f;
}
.rankings-section .ranking-card__box.green .bonus-card {
  background: #558b2f;
}
.rankings-section .ranking-card__box.green .rihgt-img__box::before {
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 54.89%, #33691e 96.36%);
}
.rankings-section .ranking-card__box.blue .ranking-card {
  background: #0288d1;
}
.rankings-section .ranking-card__box.blue .ranking-card .img-box,
.rankings-section .ranking-card__box.blue .ranking-card .imgs-box {
  background: #01579b;
}
.rankings-section .ranking-card__box.blue .bonus-card {
  background: #01579b;
}
.rankings-section .ranking-card__box.blue .rihgt-img__box::before {
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 54.89%, #0288d1 96.36%);
}
.rankings-section .ranking-card__box.purple .ranking-card {
  background: #311b92;
}
.rankings-section .ranking-card__box.purple .img-box,
.rankings-section .ranking-card__box.purple .imgs-box,
.rankings-section .ranking-card__box.purple .bonus-card {
  background: #5e35b1;
}
.rankings-section .ranking-card__box.purple .rihgt-img__box::before {
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 54.89%, #311b92 96.36%);
}
.rankings-section .ranking-card__box.red .ranking-card {
  background: #b3051a;
}
.rankings-section .ranking-card__box.red .img-box,
.rankings-section .ranking-card__box.red .imgs-box,
.rankings-section .ranking-card__box.red .bonus-card {
  background: #d91122;
}
.rankings-section .ranking-card__box.red .rihgt-img__box::before {
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 60.29%, #b3051a 95.3%);
}
.rankings-section .ranking-card__box.orange .ranking-card {
  background: #d4380d;
}
.rankings-section .ranking-card__box.orange .img-box,
.rankings-section .ranking-card__box.orange .imgs-box,
.rankings-section .ranking-card__box.orange .bonus-card {
  background: #fa541c;
}
.rankings-section .ranking-card__box.orange .rihgt-img__box::before {
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 60.29%, #d4380d 95.3%);
}
.rankings-section .ranking-card__box.yellow .ranking-card {
  color: #212121;
  background: #fac714;
}
.rankings-section .ranking-card__box.yellow .img-box,
.rankings-section .ranking-card__box.yellow .imgs-box,
.rankings-section .ranking-card__box.yellow .bonus-card {
  background: #ffdb3d;
}
.rankings-section .ranking-card__box.yellow .rihgt-img__box::before {
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 60.29%, #fac714 95.3%);
}
.rankings-section .ranking-card__box.gray .ranking-card {
  background: #424242;
}
.rankings-section .ranking-card__box.gray .img-box,
.rankings-section .ranking-card__box.gray .imgs-box,
.rankings-section .ranking-card__box.gray .bonus-card {
  background: #616161;
}
.rankings-section .ranking-card__box.gray .rihgt-img__box::before {
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 54.89%, #424242 98.09%);
}
.rankings-section .ranking-card__box.black .ranking-card {
  background: #262626;
}
.rankings-section .ranking-card__box.black .img-box,
.rankings-section .ranking-card__box.black .imgs-box,
.rankings-section .ranking-card__box.black .bonus-card {
  background: #616161;
}
.rankings-section .ranking-card__box.black .rihgt-img__box::before {
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 54.89%, #262626 98.09%);
}
.rankings-section .ranking-card__box.light .ranking-card {
  background: #fff;
  color: #212121;
}
.rankings-section .ranking-card__box.light .img-box,
.rankings-section .ranking-card__box.light .imgs-box,
.rankings-section .ranking-card__box.light .bonus-card {
  background: #cbcbcb;
}
.rankings-section .ranking-card__box.light .rihgt-img__box::before {
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 54.89%, #ffffff 98.09%);
}

.seo {
  text-align: center;
  padding: 44px 0 29px 0;
  color: #fff;
}
.seo .desc {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.02em;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 58px 0;
  align-items: stretch;
}
.footer-navigation .btn,
.footer-navigation .frozen-btn {
  height: unset;
  color: #9e9e9e;
}

.page-two .intro {
  background: linear-gradient(180deg, rgba(7, 11, 20, 0.6) 0%, rgba(7, 11, 19, 0.581574) 8.08%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(7, 11, 20, 0) 0.17%, rgba(7, 11, 20, 0) 71.27%, rgba(7, 11, 20, 0.38) 85.65%, rgba(7, 11, 20, 0.81) 100%), linear-gradient(360deg, rgba(7, 11, 20, 0) 0.17%, rgba(7, 11, 20, 0) 71.27%, rgba(7, 11, 20, 0.38) 85.65%, rgba(7, 11, 20, 0.81) 100%), url(../../images/intro-bg.gif) no-repeat;
  border-radius: 0px 0px 100px 100px;
}
.page-two .ranking-card .ratings {
  grid-template-columns: auto auto auto auto;
}
.page-two .ranking-card .info-box {
  max-width: 654px;
}
.page-two .ratings .rating-box:nth-child(1) {
  order: -3;
}
.page-two .ratings .rating-box:nth-child(2) {
  order: -2;
}
.page-two .ratings .rating-box:nth-child(5) {
  order: -1;
}
.page-two .ratings .rating-box:nth-child(6) {
  order: -1;
}

.page-three .intro {
  background: linear-gradient(180deg, rgba(7, 11, 20, 0.6) 0%, rgba(7, 11, 19, 0.581574) 8.08%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(7, 11, 20, 0) 0.17%, rgba(7, 11, 20, 0) 71.27%, rgba(7, 11, 20, 0.38) 85.65%, rgba(7, 11, 20, 0.81) 100%), linear-gradient(360deg, rgba(7, 11, 20, 0) 0.17%, rgba(7, 11, 20, 0) 71.27%, rgba(7, 11, 20, 0.38) 85.65%, rgba(7, 11, 20, 0.81) 100%), url(../../images/game-art-bg-3.gif);
}

.page-four .intro {
  background: linear-gradient(180deg, rgba(7, 11, 20, 0.6) 0%, rgba(7, 11, 19, 0.581574) 8.08%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(7, 11, 20, 0) 0.17%, rgba(7, 11, 20, 0) 71.27%, rgba(7, 11, 20, 0.38) 85.65%, rgba(7, 11, 20, 0.81) 100%), linear-gradient(360deg, rgba(7, 11, 20, 0) 0.17%, rgba(7, 11, 20, 0) 71.27%, rgba(7, 11, 20, 0.38) 85.65%, rgba(7, 11, 20, 0.81) 100%), url(../../images/game-art-bg-4.png) no-repeat;
}

.md-show,
.lg-block {
  display: none !important;
}

@media screen and (max-width: 1350px) {
  .rankings-section .rihgt-img__box {
    margin-left: -2px;
  }
  .rankings-section .rihgt-img__box img {
    border: inherit;
    width: 100%;
    object-fit: cover;
  }
  .partners {
    overflow-x: auto;
  }
  .partners::-webkit-scrollbar {
    display: none;
  }
  .intro .tabs {
    overflow-x: auto;
    margin-right: -16px;
    margin-left: -16px;
    gap: 30px;
  }
  .intro .tabs::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (max-width: 1250px) {
  .container {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (max-width: 992px) {
  .rankings-section .ranking-card__box {
    flex-direction: column;
    position: relative;
  }
  .rankings-section .content-box {
    flex-direction: column;
    gap: 0;
    border-radius: 12px;
  }
  .rankings-section .rihgt-img__box {
    margin-left: 0;
    order: -1;
    max-width: 100%;
    height: auto;
  }
  .rankings-section .leavel-number {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .rankings-section .rihgt-img__box::before {
    top: unset;
    bottom: 0;
    height: 175px;
  }
  .rankings-section .social-media {
    position: absolute;
    bottom: 27px;
    right: 38px;
    height: fit-content;
  }
  .rankings-section .rankings-cards {
    gap: 36px;
  }
  body {
    background: #040e1a;
  }
  .rankings-section .ranking-card__box.green .rihgt-img__box::before {
    background: linear-gradient(360deg, #33691e 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .rankings-section .ranking-card__box .ranking-card {
    padding: 24px 18px 24px 18px;
  }
  .rankings-section .ranking-card__box.blue .rihgt-img__box::before {
    background: linear-gradient(360deg, #0288d1 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .rankings-section .ranking-card__box.purple .rihgt-img__box::before {
    background: linear-gradient(360deg, #311b92 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .rankings-section .ranking-card__box.red .rihgt-img__box::before {
    background: linear-gradient(360deg, #b3051a 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .rankings-section .ranking-card__box.orange .rihgt-img__box::before {
    background: linear-gradient(360deg, #d4380d 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .rankings-section .ranking-card__box.yellow .rihgt-img__box::before {
    background: linear-gradient(360deg, #fac714 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .rankings-section .ranking-card__box.gray .rihgt-img__box::before {
    background: linear-gradient(360deg, #424242 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .rankings-section .ranking-card__box.black .rihgt-img__box::before {
    background: linear-gradient(360deg, #262626 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .rankings-section .ranking-card__box.light .rihgt-img__box::before {
    background: linear-gradient(360deg, #ffffff 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .intro {
    background-size: cover;
    background-position: center;
  }
  .page-two .rankings-section .day-box {
    margin-left: 20px;
    margin-top: 0;
  }
  .page-two .ranking-card .ratings {
    grid-template-columns: auto auto;
  }
  .page-two .ratings > .rating-box {
    order: unset !important;
  }
  .page-two .rankings-section .social-media {
    position: initial;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    margin-top: 21px;
    width: 100% !important;
  }
  .page-two .ranking-card .info-box {
    max-width: 100%;
  }
  .rankings-section .rihgt-img__box::before {
    background: linear-gradient(360deg, #011133 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .lg-block {
    display: flex !important;
  }
  .lg-hide {
    display: none !important;
  }
  .social-media .lg-hide {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  nav {
    padding: 8px 0;
  }
  nav .nav-logo {
    display: none;
  }
  .intro {
    height: fit-content;
    padding-bottom: 23px;
  }
  .intro .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .intro .tabs {
    padding: 0 69px;
  }
  .intro .right-box {
    width: 100%;
    justify-content: space-between;
  }
  .intro .community-logo {
    width: 302px;
    height: 225px;
    margin: 12px auto 27px auto;
  }
  .primary-btn {
    height: 44px;
    border-radius: 12px;
    white-space: nowrap;
  }
  .btn,
  .frozen-btn {
    padding: 0 9px;
    font-size: 10px;
    white-space: nowrap;
    height: 30px;
    gap: 6px;
    border-radius: 8px;
  }
  .intro .btn img {
    width: 16px;
  }
  .intro .btns {
    gap: 10px;
  }
  .intro .right-box {
    gap: 0;
  }
  .language-box .selected-lang {
    gap: 5px;
  }
  .language-box .lang-name {
    font-size: 11.76px;
  }
  .language-box .arrow-down {
    width: 20px;
    height: 18px;
  }
  .primary-btn:hover,
  .primary-btn.active {
    color: #ffffff;
    background: linear-gradient(0deg, #002367, #002367), radial-gradient(96.34% 67.76% at 50% 100.73%, rgba(0, 194, 255, 0.3) 31.5%, rgba(0, 0, 0, 0) 100%);
  }
  .rankings-section {
    padding-top: 51px;
  }
  .rankings-section .rihgt-img__box::before {
    background: linear-gradient(360deg, #011133 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .rankings-section .ranking-card__box .ranking-card {
    flex-direction: column;
    gap: 24px;
  }
  .rankings-section .ranking-card .bonus-box > .bonus-card {
    display: none;
  }
  .rankings-section .social-media {
    bottom: 130px;
    gap: 14px;
    flex-wrap: wrap;
    flex-direction: row;
    width: 78px;
  }
  .rankings-section .ranking-card .desc {
    margin: 12px 0;
  }
  .rankings-section .ranking-card__box .ranking-card {
    padding-top: 8px;
  }
  .rankings-section .ranking-card__box .ranking-card.no-img {
    padding-top: 42px;
  }
  .seo {
    padding: 32px 0 44px 0;
  }
  .footer-navigation {
    padding: 0 16px 21px 16px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-navigation .btn,
  .footer-navigation .frozen-btn,
  .footer-navigation .button-group {
    height: 40px;
    flex: 1 1 auto;
    font-size: 14px;
    gap: 8px;
  }
  .md-hide {
    display: none;
  }
  .md-show {
    display: flex;
  }
  .footer {
    background: #040e1a;
    padding: 24px 0;
  }
  .footer .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  .footer .container span {
    order: 1;
    color: #03476f;
  }
  .footer .social-media {
    display: none;
  }
  .footer .footer-logo path {
    fill: rgba(6, 141, 221, 0.5490196078);
  }
  .intro .btns .btn:last-child {
    padding: 0 7px;
    gap: 2px;
  }
  .intro .btns .btn:nth-child(2) {
    padding: 0 8px 0 10px;
    gap: 4px;
  }
  .tabs .tab-item {
    width: 202px;
  }
  .rankings-section .day-box__flex {
    gap: 12px;
  }
}
@media screen and (max-width: 480px) {
  .rankings-section .rihgt-img__box img {
    height: 175px;
  }
  .intro {
    background: url(../images/media-intro-bg.png) no-repeat;
    background-size: cover;
  }
}

/*# sourceMappingURL=main.css.map */
