@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* Core style */
html {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #003687;
  border-radius: 2.99px;
}

::-webkit-scrollbar-track {
  background: #092250;
  border-radius: 2.99px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  -moz-outline-style: none;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.language-box {
  position: relative;
}
.language-box .lang-flag {
  font-size: 24px;
}
.language-box .selected-lang {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.language-box .selected-lang .arrow-down {
  transition: all 0.1s linear;
}
.language-box .selected-lang.active .arrow-down {
  transform: rotate(90deg);
}
.language-box .lang-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.94px;
  color: #fff;
}
.language-box .option-language {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  user-select: none;
  cursor: pointer;
}
.language-box .option-language.show {
  display: block;
}

.tabs {
  display: flex;
  gap: 67px;
}
.tabs .tab-item {
  width: 249px;
}

.language-box .option-language.show {
  display: flex;
  align-items: center;
  gap: 5px;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background: url(../../images/bg.png) no-repeat;
  background-size: cover;
}

button {
  cursor: pointer;
}

.btn,
.frozen-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 700;
  height: 35px;
  padding: 0 10px;
  color: #fff;
  background: linear-gradient(136.06deg, rgba(44, 128, 240, 0.04) 0%, rgba(255, 255, 255, 0) 106.04%);
  border: 1px solid #0a5bcf;
  box-shadow: 9.09px 4.55px 18.19px 0px rgba(0, 0, 0, 0.0784313725), 0px 0px 8.46px 0px #054095 inset;
  border-radius: 12px;
  width: fit-content;
}
.btn.disabled,
.frozen-btn.disabled {
  border: 2px solid #353945;
  background: none;
  box-shadow: none;
}

.frozen-btn {
  background: linear-gradient(136.06deg, rgba(248, 251, 255, 0.04) 0%, rgba(255, 255, 255, 0) 106.04%);
  border: 0.91px solid #5a6896;
  box-shadow: 9.09px 4.55px 18.19px 0px rgba(0, 0, 0, 0.0784313725), inset 0px 0px 8.46px 0px #677dc9;
  gap: 15px;
  padding: 0 19px 0 8px;
  color: #9e9e9e;
}

.primary-btn {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: center;
  color: #03a8f0;
  background: rgba(4, 18, 44, 0.6980392157);
  border-radius: 15px;
  width: fit-content;
  padding: 0 28px;
  cursor: pointer;
  white-space: nowrap;
  border: 3px solid transparent;
  transition: all 0.2s linear;
}
.primary-btn.active {
  border-color: #0494fd !important;
  background: url(../../images/btn-bg.png) no-repeat, rgba(0, 27, 74, 0.8) !important;
  color: #fff !important;
}
.primary-btn:hover {
  border-color: #4ab9de;
  color: #fff;
  background: linear-gradient(0deg, #002367, #002367), radial-gradient(96.34% 67.76% at 50% 100.73%, rgba(0, 194, 255, 0.3) 31.5%, rgba(0, 0, 0, 0) 100%);
  box-shadow: 0px 0px 8px 0px #0454a6 inset;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(139.69deg, rgba(248, 251, 255, 0.04) 0%, rgba(255, 255, 255, 0) 110.25%);
  border: 1px solid #0a5bcf;
  box-shadow: 9.09px 4.55px 18.19px 0px rgba(0, 0, 0, 0.0784313725), inset 0px 0px 9.09px 0px #0454a6;
  border-radius: 12px;
  height: 40px;
  width: fit-content;
  padding-right: 19px;
}
.button-group .link-btn {
  height: 40px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-group .btns {
  display: flex;
  align-items: center;
  gap: 21px;
}
.button-group .btn-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.94px;
  color: #9e9e9e;
}
.button-group .line {
  height: 24.56px;
  width: 1px;
  background: #01376a;
}

.primary-btn__two {
  padding: 10px 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.150000006px;
  color: #fff;
  width: fit-content;
  background: #162379;
  border-radius: 10px;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary-btn__two:hover {
  background: #2137BD;
}
.primary-btn__two:focus {
  background: #3063E9;
}

.green-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  padding: 13px;
  border-radius: 12px;
  color: #fff;
  position: relative;
  z-index: 1;
}
.green-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -1;
  background: radial-gradient(123.7% 123.7% at 50% 23.3%, rgba(0, 134, 255, 0) 36.86%, rgba(1, 205, 252, 0.487085) 70.93%, rgba(1, 251, 251, 0.8) 100%), radial-gradient(53% 53% at 50% 106%, rgba(1, 251, 251, 0.8) 9.77%, rgba(1, 205, 252, 0) 74.08%, rgba(0, 134, 255, 0) 100%), linear-gradient(0deg, rgba(1, 124, 167, 0.21), rgba(1, 124, 167, 0.21)), linear-gradient(90deg, rgba(34, 151, 57, 0.6) 0%, rgba(34, 151, 57, 0) 100%);
}
.green-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -2;
  border: 2.3px solid;
  background: linear-gradient(182.75deg, rgba(189, 0, 255, 0) -15.61%, #FFFFFF 97.7%), linear-gradient(0deg, #1FD7FF, #1FD7FF), linear-gradient(90deg, #96F49C 16%, rgba(150, 244, 156, 0) 59%);
  background-origin: border-box;
  -webkit-mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
  mask: linear-gradient(black, black), linear-gradient(black, black);
  -webkit-mask-clip: content-box, border-box;
  mask-clip: content-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.footer {
  background: #000815;
  padding: 14px 0;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .container span {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: #0158e0;
}
.footer .social-media {
  display: flex;
  gap: 12px;
  align-items: center;
}

nav {
  padding: 18px 8px 16px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro {
  background: url(../../images/intro-bg.png) no-repeat;
  background-size: 100% 100%;
  height: 550px;
}
.intro .community-logo {
  width: 510px;
  height: 330px;
  margin: 10px auto 36px auto;
  display: block;
  object-fit: contain;
  padding-left: 13px;
}
.intro .right-box {
  display: flex;
  align-items: center;
  gap: 17px;
}
.intro .btns {
  display: flex;
  gap: 18px;
}
.intro .btns a:nth-child(2), .intro .btns a:last-child {
  border-radius: 10px;
  width: 84px;
  gap: 3px;
}

.partners {
  max-width: 1425px;
  height: 106px;
  margin: 0 auto;
  padding: 23px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  transition: all 0.2s linear;
}
.partners a:first-child img {
  width: 173px;
  height: 56px;
}
.partners a:first-child img, .partners a:last-child img, .partners a:nth-child(3) img {
  opacity: 1;
}
.partners a img {
  opacity: 0.5;
}
.partners a img.active {
  opacity: 1;
  filter: drop-shadow(0px 3px 4.5px rgba(0, 186, 244, 0.2509803922));
}

.rankings-section {
  padding: 15px 0 0 0;
  max-width: 1314px;
  margin: 0 auto;
}
.rankings-section .rankings-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.rankings-section .content-box {
  display: flex;
  border-radius: 24px;
  overflow: hidden;
  align-items: unset;
  max-width: 1200px;
  width: 100%;
  height: 260px;
}
.rankings-section .rihgt-img__box {
  max-width: 526px;
  width: 100%;
  position: relative;
}
.rankings-section .rihgt-img__box.no-img {
  background: #011133;
}
.rankings-section .rihgt-img__box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 54.89%, #011133 98.09%);
  width: 100%;
  height: 100%;
}
.rankings-section .rihgt-img__box img {
  height: 100%;
  width: 100%;
}
.rankings-section .day-box {
  font-size: 10px;
  font-weight: 600;
  line-height: 22.5px;
  padding: 3px 21px;
  border-radius: 12px;
  background: #022557;
  width: fit-content;
  margin-left: 61px;
  color: #fff;
  margin-top: -11px;
}
.rankings-section .day-box.mt {
  margin-top: 0;
}
.rankings-section .day-box__flex {
  display: flex;
  align-items: center;
  gap: 6px;
}
.rankings-section .day-box__flex .date {
  font-size: 12px;
  font-weight: 600;
  line-height: 22.5px;
  color: #fff;
}
.rankings-section .leavel-number {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(135deg, rgba(248, 251, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 50%;
  box-shadow: 8.33px 4.17px 16.67px 0px rgba(0, 0, 0, 0.0784313725), 0px 0px 8.33px 0px #0454a6 inset;
  border: 0.84px solid #0454a6;
}
.rankings-section .leavel-number.sm-number {
  border: none;
  background: none;
  box-shadow: none;
}
.rankings-section .leavel-number .number {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0.1875px;
  color: #fff;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 173, 227, 0) 0%, rgba(0, 165, 217, 0.169355) 70%, #00a9e7 100%);
  border-radius: 50%;
}
.rankings-section .leavel-number.level-1 {
  background: linear-gradient(135deg, rgba(194, 144, 60, 0.04) 0%, rgba(255, 255, 145, 0.04) 100%);
  border: 1px solid rgba(198, 126, 20, 0.9411764706);
  box-shadow: 8.33px 4.17px 16.67px 0px rgba(0, 0, 0, 0.0784313725), 0px 0px 8.33px 0px rgba(198, 126, 20, 0.9411764706) inset;
}
.rankings-section .leavel-number.level-2 {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.0368) 0%, rgba(191, 191, 191, 0.04) 100%);
  box-shadow: 0px 0px 8.33px 0px rgba(199, 199, 199, 0.9411764706) inset;
  border-radius: 50%;
  border: 1px solid;
  border: 1px solid rgba(199, 199, 199, 0.9411764706);
}
.rankings-section .leavel-number.level-3 {
  box-shadow: 8.33px 4.17px 16.67px 0px rgba(0, 0, 0, 0.0784313725);
  box-shadow: 0px 0px 8.33px 0px #dd5e20 inset;
  border-radius: 50%;
  border: 1px solid #dd5e20;
}
.rankings-section .social-media {
  display: flex;
  gap: 14px;
  flex-direction: column;
  height: 100%;
  margin: auto 0 auto 12px;
}
.rankings-section .ranking-card {
  padding: 12px 18px;
  color: #fff;
  display: flex;
  gap: 6px;
  background: #011133;
}
.rankings-section .ranking-card .info-box {
  max-width: 393px;
}
.rankings-section .ranking-card .title-box {
  display: flex;
  align-items: center;
  gap: 6px;
}
.rankings-section .ranking-card .title-box .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.rankings-section .ranking-card .desc {
  margin: 0 0 12px 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 13.7px;
  font-family: "Inter", sans-serif;
}
.rankings-section .ranking-card .ratings {
  display: grid;
  grid-template-columns: 128px 138px;
  column-gap: 23px;
  row-gap: 8px;
}
.rankings-section .ranking-card .ratings .rating-label {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: capitalize;
}
.rankings-section .ranking-card .ratings .rating-info {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.46px;
  letter-spacing: -0.02em;
}
.rankings-section .ranking-card .ratings .card-box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 6px;
}
.rankings-section .ranking-card .ratings .img-box,
.rankings-section .ranking-card .ratings .imgs-box {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #072069;
  border-radius: 6px;
}
.rankings-section .ranking-card .ratings .img-box img,
.rankings-section .ranking-card .ratings .imgs-box img {
  width: 25px;
  height: 25px;
}
.rankings-section .ranking-card .ratings .imgs-box {
  width: 83px;
}
.rankings-section .ranking-card .ratings .imgs-box img {
  height: 29px;
  margin-top: 3px;
  margin-left: -9px;
}
.rankings-section .ranking-card .ratings .imgs-box img:first-child {
  margin-left: 0;
}
.rankings-section .ranking-card .ratings .range-slider {
  width: 82px;
  height: 13px;
  border-radius: 24px;
}
.rankings-section .ranking-card__box {
  display: flex;
  align-items: start;
  gap: 11px;
  border-radius: 24px;
}
.rankings-section .ranking-card__box.green .ranking-card {
  background: #33691e;
}
.rankings-section .ranking-card__box.green .ranking-card .img-box,
.rankings-section .ranking-card__box.green .ranking-card .imgs-box {
  background: #558b2f;
}
.rankings-section .ranking-card__box.green .bonus-card {
  background: #558b2f;
}
.rankings-section .ranking-card__box.green .rihgt-img__box::before {
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 54.89%, #33691e 96.36%);
}
.rankings-section .ranking-card__box.blue .ranking-card {
  background: #0288d1;
}
.rankings-section .ranking-card__box.blue .ranking-card .img-box,
.rankings-section .ranking-card__box.blue .ranking-card .imgs-box {
  background: #01579b;
}
.rankings-section .ranking-card__box.blue .bonus-card {
  background: #01579b;
}
.rankings-section .ranking-card__box.blue .rihgt-img__box::before {
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 54.89%, #0288d1 96.36%);
}
.rankings-section .ranking-card__box.purple .ranking-card {
  background: #311b92;
}
.rankings-section .ranking-card__box.purple .img-box,
.rankings-section .ranking-card__box.purple .imgs-box,
.rankings-section .ranking-card__box.purple .bonus-card {
  background: #5e35b1;
}
.rankings-section .ranking-card__box.purple .rihgt-img__box::before {
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 54.89%, #311b92 96.36%);
}
.rankings-section .ranking-card__box.red .ranking-card {
  background: #b3051a;
}
.rankings-section .ranking-card__box.red .img-box,
.rankings-section .ranking-card__box.red .imgs-box,
.rankings-section .ranking-card__box.red .bonus-card {
  background: #d91122;
}
.rankings-section .ranking-card__box.red .rihgt-img__box::before {
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 60.29%, #b3051a 95.3%);
}
.rankings-section .ranking-card__box.orange .ranking-card {
  background: #d4380d;
}
.rankings-section .ranking-card__box.orange .img-box,
.rankings-section .ranking-card__box.orange .imgs-box,
.rankings-section .ranking-card__box.orange .bonus-card {
  background: #fa541c;
}
.rankings-section .ranking-card__box.orange .rihgt-img__box::before {
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 60.29%, #d4380d 95.3%);
}
.rankings-section .ranking-card__box.yellow .ranking-card {
  color: #212121;
  background: #fac714;
}
.rankings-section .ranking-card__box.yellow .img-box,
.rankings-section .ranking-card__box.yellow .imgs-box,
.rankings-section .ranking-card__box.yellow .bonus-card {
  background: #ffdb3d;
}
.rankings-section .ranking-card__box.yellow .rihgt-img__box::before {
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 60.29%, #fac714 95.3%);
}
.rankings-section .ranking-card__box.gray .ranking-card {
  background: #424242;
}
.rankings-section .ranking-card__box.gray .img-box,
.rankings-section .ranking-card__box.gray .imgs-box,
.rankings-section .ranking-card__box.gray .bonus-card {
  background: #616161;
}
.rankings-section .ranking-card__box.gray .rihgt-img__box::before {
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 54.89%, #424242 98.09%);
}
.rankings-section .ranking-card__box.black .ranking-card {
  background: #262626;
}
.rankings-section .ranking-card__box.black .img-box,
.rankings-section .ranking-card__box.black .imgs-box,
.rankings-section .ranking-card__box.black .bonus-card {
  background: #616161;
}
.rankings-section .ranking-card__box.black .rihgt-img__box::before {
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 54.89%, #262626 98.09%);
}
.rankings-section .ranking-card__box.light .ranking-card {
  background: #fff;
  color: #212121;
}
.rankings-section .ranking-card__box.light .img-box,
.rankings-section .ranking-card__box.light .imgs-box,
.rankings-section .ranking-card__box.light .bonus-card {
  background: #cbcbcb;
}
.rankings-section .ranking-card__box.light .rihgt-img__box::before {
  background: linear-gradient(269.98deg, rgba(0, 27, 74, 0) 54.89%, #ffffff 98.09%);
}

.seo {
  text-align: center;
  padding: 44px 0 29px 0;
  color: #fff;
}
.seo .desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.02em;
}
.seo .desc span {
  font-weight: 600;
}

.footer-navigation {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  gap: 39px;
  padding: 58px 0;
  align-items: stretch;
}
.footer-navigation .btn,
.footer-navigation .frozen-btn {
  height: unset;
  color: #9e9e9e;
}
.footer-navigation .frozen-btn {
  width: 150px;
}

.bonus-box {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 238px;
}
.bonus-box .bonus-cards {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 220px;
}
.bonus-box .bonus-card {
  padding: 8px 12px 12px 12.5px;
  border-radius: 12px;
  background: #072069;
  display: flex;
  gap: 5px;
  align-items: center;
  height: 68px;
}
.bonus-box .bonus-card .box {
  width: 45px;
}
.bonus-box .bonus-card img {
  width: 25px;
  height: 25px;
}
.bonus-box > .bonus-card {
  min-width: 26px;
  max-width: 26px;
  height: 30px;
  border-radius: 5.53px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.bonus-box > .bonus-card span {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.bonus-box .box {
  text-align: center;
}
.bonus-box .label {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  display: block;
}

.page-two .rankings-section {
  padding: 0;
}
.page-two .rankings-section .rankings-cards {
  gap: 16px;
}
.page-two .rankings-section .ranking-card {
  padding: 18px;
}
.page-two .rankings-section .ranking-card .desc {
  line-height: 14.7px;
}
.page-two .rankings-section .day-box {
  margin-top: 9px;
}
.page-two .rankings-section .day-box.mt {
  margin-top: 0;
}
.page-two .intro {
  background: linear-gradient(180deg, rgba(7, 11, 20, 0.6) 0%, rgba(7, 11, 19, 0.581574) 8.08%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(7, 11, 20, 0) 0.17%, rgba(7, 11, 20, 0) 71.27%, rgba(7, 11, 20, 0.38) 85.65%, rgba(7, 11, 20, 0.81) 100%), linear-gradient(360deg, rgba(7, 11, 20, 0) 0.17%, rgba(7, 11, 20, 0) 71.27%, rgba(7, 11, 20, 0.38) 85.65%, rgba(7, 11, 20, 0.81) 100%), url(../../images/intro-bg.gif) no-repeat;
  border-radius: 0px 0px 100px 100px;
}
.page-two .ranking-card .ratings {
  grid-template-columns: 126px 139px 130px 126px;
}
.page-two .ranking-card .info-box {
  max-width: 654px;
}
.page-two .ratings .rating-box:nth-child(1) {
  order: -3;
}
.page-two .ratings .rating-box:nth-child(2) {
  order: -2;
}
.page-two .ratings .rating-box:nth-child(5) {
  order: -1;
}
.page-two .ratings .rating-box:nth-child(6) {
  order: -1;
}
.page-two .seo {
  padding-top: 72px;
}

.footer .container {
  padding: 0 27px;
}

.page-three .seo {
  padding-top: 26px;
}
.page-three .intro {
  background: linear-gradient(180deg, rgba(7, 11, 20, 0.6) 0%, rgba(7, 11, 19, 0.581574) 8.08%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(7, 11, 20, 0) 0.17%, rgba(7, 11, 20, 0) 71.27%, rgba(7, 11, 20, 0.38) 85.65%, rgba(7, 11, 20, 0.81) 100%), linear-gradient(360deg, rgba(7, 11, 20, 0) 0.17%, rgba(7, 11, 20, 0) 71.27%, rgba(7, 11, 20, 0.38) 85.65%, rgba(7, 11, 20, 0.81) 100%), url(../../images/game-art-bg-3.gif);
}

.page-four .seo {
  padding-top: 28px;
}
.page-four .intro {
  background: linear-gradient(180deg, rgba(7, 11, 20, 0.6) 0%, rgba(7, 11, 19, 0.581574) 8.08%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(7, 11, 20, 0) 0.17%, rgba(7, 11, 20, 0) 71.27%, rgba(7, 11, 20, 0.38) 85.65%, rgba(7, 11, 20, 0.81) 100%), linear-gradient(360deg, rgba(7, 11, 20, 0) 0.17%, rgba(7, 11, 20, 0) 71.27%, rgba(7, 11, 20, 0.38) 85.65%, rgba(7, 11, 20, 0.81) 100%), url(../../images/game-art-bg-4.png) no-repeat;
}

.server-information .seo {
  padding-top: 67px;
}
.server-information .rankings-section {
  padding-top: 26px;
}
.server-information .ranking-card .title-box .title {
  font-size: 32px;
  line-height: 40px;
}
.server-information .rankings-section .ranking-card {
  padding: 20px 18px;
}
.server-information .bonus-box.md-block {
  display: none;
}
.server-information .ranking-card {
  width: 100%;
}
.server-information .content-box {
  position: relative;
  overflow: visible;
}
.server-information .fire-btn {
  position: absolute;
  bottom: -21px;
  z-index: 100;
  right: 150px;
  height: 43px;
  padding-left: 0;
  width: 186px;
  justify-content: center;
  gap: 13px;
}
.server-information .ranking-card .ratings {
  display: flex;
}
.server-information .ranking-card .info-box {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}
.server-information .ranking-card .desc {
  font-size: 14px;
  line-height: 20px;
  padding-top: 8px;
}
.server-information .game-world {
  margin-top: 21px;
}
.server-information .game-world .container {
  display: flex;
  align-items: start;
  gap: 36px;
}
.server-information .game-world .left-box {
  max-width: 557px;
  width: 100%;
}
.server-information .game-world .game-world__label {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  display: block;
  margin-bottom: 5px;
}
.server-information .bonus-box {
  color: #fff;
  width: 100%;
}
.server-information .bonus-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto;
  width: 100%;
}
.server-information .bonus-card {
  justify-content: center;
  height: 83px;
}
.server-information .achievements-box {
  margin: 14px 0 22px 0;
}
.server-information .achievements-box .game-world__label {
  margin-bottom: 7px;
}
.server-information .achievements {
  display: flex;
  gap: 14px;
}
.server-information .achievements .box {
  width: 63px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #03214c;
  border-radius: 13.2px;
  position: relative;
}
.server-information .achievements .box span {
  font-size: 18px;
  font-weight: 600;
  line-height: 23.89px;
  letter-spacing: -0.01em;
  color: #fff;
}
.server-information .achievements .star-box {
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.server-information .achievements .star-box img {
  margin-left: -6px;
}
.server-information .achievements .star-box img:first-child {
  margin-left: 0;
}
.server-information .project-description .game-world__label {
  margin-bottom: 12px;
}
.server-information .project-description .description-box {
  border: 1px solid #102c5a;
  background: rgba(10, 25, 48, 0.5019607843);
  border-radius: 11.94px;
  height: 612px;
  padding: 15px 7px 15px 15px;
  color: #fff;
}
.server-information .project-description .scroll-box {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.server-information .project-description p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
}
.server-information .project-description a {
  color: #005ecc;
}
.server-information .reviews-box {
  width: 100%;
  margin-top: 9px;
}
.server-information .reviews-box .btns {
  display: flex;
  gap: 6px;
  margin-bottom: 20px;
}
.server-information .reviews-box .btns button {
  border-radius: 50px;
  padding: 0 12px;
  height: 37px;
}
.server-information .reviews-box .like-btn {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.server-information .reviews-box .comments-parent {
  overflow-y: auto;
  height: 939px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.server-information .reviews-box .comments {
  padding-right: 10px;
  color: #fff;
}
.server-information .reviews-box .comment-box {
  position: relative;
  padding: 11px 14px;
  border-radius: 12px;
  background: #011a44;
}
.server-information .reviews-box .comment-box::before {
  content: "";
  position: absolute;
  background: url(../../images/icons/rounded-line.svg) no-repeat;
  bottom: -25px;
  left: 0;
  width: 18px;
  height: 42px;
  background-size: 124% 105%;
}
.server-information .reviews-box .comment-box .box {
  border-radius: 0px 12px 12px 12px;
  padding: 16px 16px 16px 10px;
  border: 1px solid rgba(67, 190, 24, 0.2705882353);
  display: flex;
  gap: 10px;
  align-items: start;
}
.server-information .reviews-box .comment-box .box.no-recommendation {
  border-color: rgba(221, 1, 41, 0.5019607843);
}
.server-information .reviews-box .comment-box .scroll-box {
  height: 122px;
  overflow-y: auto;
  padding-bottom: 22px;
}
.server-information .reviews-box .comment-box .scroll-box::-webkit-scrollbar-thumb {
  background: #033173;
}
.server-information .reviews-box .comment-box .scroll-box::-webkit-scrollbar-track {
  background: #031f4d;
}
.server-information .reviews-box .user-name__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  margin-bottom: 8px;
}
.server-information .reviews-box .user-name__box .left-box {
  display: flex;
  align-items: center;
  gap: 6px;
}
.server-information .reviews-box .recommendation {
  display: flex;
  align-items: center;
  gap: 4px;
}
.server-information .reviews-box .recommendation span {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 5px;
  letter-spacing: -0.02em;
}
.server-information .reviews-box .desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.server-information .reviews-box .hide-admin__ansver {
  font-size: 12px;
  font-weight: 500;
  line-height: 27px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 9px;
  height: 25px;
  border-radius: 12px;
  background: #011a44;
  width: fit-content;
  padding: 0 10px;
  margin: 10px 0 10px 11px;
}
.server-information .reviews-box .hide-admin__ansver .minus {
  border: 2.33px solid #ffffff;
  width: 12px;
  border-radius: 2px;
}
.server-information .admin-ansver {
  display: flex;
  align-items: start;
}
.server-information .admin-ansver .comment {
  padding: 14px 25px 14px 12px;
  border-radius: 12px 12px 12px 0px;
  background: #001941;
}
.server-information .admin-ansver .desc {
  font-weight: 500;
}
.server-information .admin-ansver .admin-avatar {
  margin-top: 33px;
}
.server-information .admin-ansver .top-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 7px;
}
.server-information .admin-ansver .status {
  display: flex;
  align-items: center;
  gap: 4px;
  background: #0043a7;
  border-radius: 100px;
  padding: 2px 7.5px;
}
.server-information .admin-ansver .status span {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.009em;
}
.server-information .admin-ansver .comment-date {
  font-size: 11px;
  font-weight: 700;
  line-height: 13.31px;
  color: #70b2ff;
  margin-top: 12px;
  text-align: right;
  display: block;
}
.server-information .user-name {
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.server-information .media-block__box-footer {
  display: none;
  margin-top: 24px;
  justify-content: space-between;
  width: 100%;
  height: 30px;
}
.server-information .media-block__box-footer .date {
  font-size: 11px;
  font-weight: 700;
  line-height: 30px;
  color: #70b2ff;
  padding: 0 8px;
  border-radius: 12px;
  background: #032d73;
  height: 30px;
}
.server-information .media-block__box-footer .problem-solved__box {
  padding: 0 8px;
  background: #004eda;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
}
.server-information .bonus-box .bonus-card img {
  width: 30px;
  height: 30px;
}
.server-information .bonus-card .box {
  width: 55px;
}
.server-information .ranking-card__box.green .ranking-card,
.server-information .rankings-section .rihgt-img__box {
  border-radius: inherit;
}
.server-information .ranking-card__box.green .ranking-card {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.server-information .rankings-section .rihgt-img__box img {
  border-radius: inherit;
}

.w-full {
  width: 100%;
}

.personal-account__bg {
  background: url(../../images/personal-account-bg.png) no-repeat;
  background-size: cover;
}

.personal-account .left-panel {
  border-bottom-right-radius: 24px;
}
.personal-account .rihgt-img__upload {
  border: 2px dotted #0C326B;
  max-width: 498px;
  width: 100%;
  border-radius: 24px;
  margin: 12px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(../../images/upload-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.personal-account .rihgt-img__upload .content {
  max-width: 306px;
  margin: 0 auto;
  text-align: center;
}
.personal-account .rihgt-img__upload .content span {
  display: block;
  color: #7F8596;
}
.personal-account .rihgt-img__upload .content .upload-title {
  font-family: "Archivo", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #fff;
  margin-top: 13px;
}
.personal-account .rihgt-img__upload .content .upload-info {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
}
.personal-account .rihgt-img__upload .content .upload-text {
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
}
.personal-account .rihgt-img__upload .content .upload-text span {
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  display: inline-block;
}
.personal-account .info-project {
  max-width: 1200px;
  margin: 33px auto 0 auto;
  display: flex;
  align-items: start;
  gap: 20px;
  color: #fff;
}
.personal-account .info-project > div {
  flex: 1 1 auto;
}
.personal-account .info-project .rihgt-side {
  padding: 12px 20px 16px 20px;
  border-radius: 12px;
  background: rgba(10, 25, 48, 0.5019607843);
  border: 1px solid #003687;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 544px;
}
.personal-account .info-project .rihgt-side .box {
  padding: 12px 12px 17px 20px;
  background: rgba(10, 25, 48, 0.5019607843);
}
.personal-account .info-project .rihgt-side .box p {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.personal-account .info-project .rihgt-side .box a {
  color: #005ECC;
}
.personal-account .info-project .rihgt-side .scroll-box {
  max-height: 218px;
  overflow-y: auto;
  padding-right: 14px;
}
.personal-account .info-project .rihgt-side .flex-box {
  display: flex;
  align-items: start;
  gap: 18px;
  margin-bottom: 14px;
}
.personal-account .info-project .rihgt-side .flex-box p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #ced0d4;
}
.personal-account .info-project .rihgt-side .btns {
  gap: 24px;
  display: flex;
}
.personal-account .info-project .rihgt-side .primary-btn__two {
  background: #004ED2;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #cfd0d4;
  width: 100%;
}
.personal-account .info-project .box {
  background: rgba(33, 65, 176, 0.1019607843);
  border: 1px solid #003687;
  border-radius: 12px;
}
.personal-account .info-project .box.buy-box {
  padding: 20px 26px;
}
.personal-account .info-project .label {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #fff;
  padding-bottom: 4px;
  display: inline-block;
}
.personal-account .info-project .green-btn {
  width: 222px;
}
.personal-account .info-project .title-box {
  padding: 5px 24px;
  border-radius: 12px;
  background: linear-gradient(270deg, rgba(10, 25, 48, 0.5) 0%, rgba(31, 78, 150, 0.5) 100%);
  border: 0.75px solid #1E56B2;
}
.personal-account .info-project .title-box h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.02em;
}

.panels {
  display: flex;
  align-items: start;
}
.panels .left-panel {
  min-width: 310px;
  padding: 8px 0;
  background: rgba(8, 26, 53, 0.5019607843);
  overflow: hidden;
}
.panels .right-panel {
  max-width: 1340px;
  width: 100%;
}
.panels .right-panel .rankings-section {
  margin-left: 13px;
}
.panels .right-panel .rankings-section .content-box {
  background: #011133;
}
.panels .top-box {
  padding: 24px 14px 16px 14px;
}
.panels .top-box .logo {
  display: block;
  text-align: center;
  margin-bottom: 8px;
}
.panels .user-box {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #fff;
  background: #081d3d;
  box-shadow: 0px 1px 3px 0px rgba(6, 7, 8, 0.0509803922), 0px 1px 2px -1px rgba(6, 7, 8, 0.0509803922), inset 0px 2px 9.4px 0px rgba(0, 72, 157, 0.6392156863);
  border-top: 1px solid #022f72;
  padding: 16px;
  border-radius: 12px;
}
.panels .user-box .user-avatar__img {
  width: 48px;
  height: 48px;
  margin-top: -8px;
}
.panels .user-box .user-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  display: block;
  margin-bottom: 4px;
}
.panels .user-box .user-id {
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: rgba(232, 236, 239, 0.5019607843);
}
.panels .panel-boxes {
  border-top: 1px solid #0b2045;
  border-bottom: 1px solid #0b2045;
  padding: 12px 14px;
}
.panels .panel-boxes .scroll-box {
  height: 272px;
  overflow-y: auto;
  padding-right: 16px;
}
.panels .panel-boxes.bt-none {
  border-top: none;
}
.panels .panel-boxes.bb-none {
  border-bottom: none;
}
.panels .panel-boxes .leavel {
  background: radial-gradient(50% 50% at 50% 50%, rgba(10, 101, 191, 0) 0%, rgba(8, 106, 202, 0.169355) 79.84%, #0080FF 100%);
  border: 0.86px solid rgba(0, 250, 250, 0.6705882353);
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
}
.panels .panel-boxes .leavel span {
  color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 20.57px;
  letter-spacing: 0.1285714358px;
  text-align: center;
}
.panels .panel-boxes .panel-box {
  padding: 12px 17px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
}
.panels .panel-boxes .panel-box .left-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.panels .panel-boxes .panel-box .text {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #788597;
}
.panels .panel-boxes .panel-box.active {
  background: linear-gradient(270deg, rgba(10, 45, 98, 0.3) 26.26%, #0A2D62 100%);
  border-left: 1px solid #004BBD;
  box-shadow: 0px 1px 3px 0px rgba(6, 7, 8, 0.0509803922), 0px 1px 2px -1px rgba(6, 7, 8, 0.0509803922), inset 0px 2px 9.4px 0px rgba(0, 72, 157, 0.6392156863);
}
.panels .panel-boxes .panel-box.active .text {
  color: #fff;
}
.panels .panel-bottom {
  padding: 18px 20px 8px 20px;
}
.panels .panel-bottom button {
  width: 100%;
  height: 48px;
}

.md-show,
.lg-block {
  display: none !important;
}

@media screen and (max-width: 1350px) {
  .rankings-section .rihgt-img__box {
    margin-left: -2px;
  }
  .rankings-section .rihgt-img__box img {
    border: inherit;
    width: 100%;
    object-fit: cover;
  }
  .partners {
    overflow-x: auto;
  }
  .partners::-webkit-scrollbar {
    display: none;
  }
  .intro .tabs {
    overflow-x: auto;
    margin-right: -16px;
    margin-left: -16px;
    gap: 30px;
  }
  .intro .tabs::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (max-width: 1250px) {
  .container {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (max-width: 992px) {
  .rankings-section .ranking-card__box {
    flex-direction: column;
    position: relative;
  }
  .rankings-section .content-box {
    flex-direction: column;
    gap: 0;
    border-radius: 12px;
  }
  .rankings-section .rihgt-img__box {
    margin-left: 0;
    order: -1;
    max-width: 100%;
    height: auto;
  }
  .rankings-section .leavel-number {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .rankings-section .rihgt-img__box::before {
    top: unset;
    bottom: -1px;
    height: 175px;
  }
  .rankings-section .social-media {
    position: absolute;
    bottom: 27px;
    right: 38px;
    height: fit-content;
  }
  .rankings-section .rankings-cards {
    gap: 36px;
  }
  body {
    background: #040e1a;
  }
  .rankings-section .ranking-card__box.green .rihgt-img__box::before {
    background: linear-gradient(360deg, #33691e 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .rankings-section .ranking-card__box .ranking-card {
    padding: 24px 18px 24px 18px;
  }
  .rankings-section .ranking-card__box.blue .rihgt-img__box::before {
    background: linear-gradient(360deg, #0288d1 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .rankings-section .ranking-card__box.purple .rihgt-img__box::before {
    background: linear-gradient(360deg, #311b92 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .rankings-section .ranking-card__box.red .rihgt-img__box::before {
    background: linear-gradient(360deg, #b3051a 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .rankings-section .ranking-card__box.orange .rihgt-img__box::before {
    background: linear-gradient(360deg, #d4380d 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .rankings-section .ranking-card__box.yellow .rihgt-img__box::before {
    background: linear-gradient(360deg, #fac714 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .rankings-section .ranking-card__box.gray .rihgt-img__box::before {
    background: linear-gradient(360deg, #424242 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .rankings-section .ranking-card__box.black .rihgt-img__box::before {
    background: linear-gradient(360deg, #262626 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .rankings-section .ranking-card__box.light .rihgt-img__box::before {
    background: linear-gradient(360deg, #ffffff 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .intro {
    background-size: cover;
    background-position: center;
  }
  .page-two .rankings-section .day-box {
    margin-left: 20px;
    margin-top: 0;
  }
  .page-two .ranking-card .ratings {
    grid-template-columns: auto auto;
  }
  .page-two .ratings > .rating-box {
    order: unset !important;
  }
  .page-two .rankings-section .social-media {
    position: initial;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    margin-top: 21px;
    width: 100% !important;
  }
  .page-two .ranking-card .info-box {
    max-width: 100%;
  }
  .rankings-section .rihgt-img__box::before {
    background: linear-gradient(360deg, #011133 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .lg-block {
    display: flex !important;
  }
  .lg-hide {
    display: none !important;
  }
  .social-media .lg-hide {
    display: none !important;
  }
  .intro {
    border-radius: 0 0 32px 32px !important;
  }
  .server-information .game-world .container {
    flex-direction: column;
  }
  .server-information .game-world .left-box {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .server-information .project-description {
    order: -1;
  }
  .server-information .project-description .scroll-box {
    padding-right: 10px;
  }
  .server-information .game-world .left-box > .game-world__label {
    display: none;
  }
  .server-information .game-world .bonus-box {
    display: none;
  }
  .server-information .reviews-box .user-name__box .left-box {
    display: flex;
    flex-direction: row !important;
  }
  .server-information .reviews-box .comment-box .box {
    align-items: start;
  }
  .server-information .reviews-box .comment-box .box > img {
    margin-top: 18px;
  }
  .server-information .reviews-box .comments-parent {
    gap: 22px;
  }
  .server-information .bonus-box.md-block {
    display: flex;
  }
  .server-information .bonus-box.md-block > .bonus-card {
    display: none;
  }
  .server-information .bonus-cards {
    display: flex;
  }
  .server-information .ranking-card {
    flex-direction: column;
    gap: 24px;
  }
  .server-information .ranking-card .ratings {
    display: grid;
    grid-template-columns: auto auto;
  }
  .server-information .rankings-section .social-media {
    bottom: 101px !important;
    right: 6px;
  }
  .rankings-section .social-media {
    margin: 0;
  }
  .rankings-section .rankings-cards {
    gap: 30px !important;
  }
  .server-information .fire-btn {
    display: none;
  }
  .server-information {
    border-radius: 12px;
  }
  .server-information .content-box {
    overflow: hidden;
  }
  .server-information .ranking-card .info-box {
    gap: 12px;
  }
  .server-information .ranking-card .desc {
    margin-bottom: 0;
  }
  .server-information .diamond-img {
    display: none;
  }
  .server-information .user-name span {
    display: none;
  }
  .server-information .reviews-box .recommendation span {
    margin-top: 0;
  }
  .server-information .reviews-box .user-name__box {
    margin-bottom: 12px;
  }
  .server-information .reviews-box .recommendation img {
    margin-top: -4px;
  }
  .server-information .reviews-box .comments-parent::-webkit-scrollbar {
    display: none;
  }
  .rankings-section .content-box {
    height: unset;
  }
  .server-information .bonus-cards {
    width: fit-content;
  }
}
@media screen and (max-width: 768px) {
  nav {
    padding: 8px 0;
  }
  nav .nav-logo {
    display: none;
  }
  .intro {
    height: fit-content;
    padding-bottom: 23px;
  }
  .intro .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .intro .tabs {
    padding: 0 69px;
  }
  .intro .right-box {
    width: 100%;
    justify-content: space-between;
  }
  .intro .community-logo {
    width: 302px;
    height: 225px;
    margin: 12px auto 27px auto;
  }
  .primary-btn {
    height: 44px;
    border-radius: 12px;
    white-space: nowrap;
  }
  .btn,
  .frozen-btn {
    padding: 0 9px;
    font-size: 10px;
    white-space: nowrap;
    height: 30px;
    gap: 6px;
    border-radius: 8px;
  }
  .intro .btn img {
    width: 16px;
  }
  .intro .btns {
    gap: 10px;
  }
  .intro .right-box {
    gap: 0;
  }
  .language-box .selected-lang {
    gap: 5px;
  }
  .language-box .lang-name {
    font-size: 11.76px;
  }
  .language-box .arrow-down {
    width: 20px;
    height: 18px;
  }
  .primary-btn:hover,
  .primary-btn.active {
    color: #ffffff;
    background: linear-gradient(0deg, #002367, #002367), radial-gradient(96.34% 67.76% at 50% 100.73%, rgba(0, 194, 255, 0.3) 31.5%, rgba(0, 0, 0, 0) 100%);
  }
  .rankings-section {
    padding-top: 51px;
  }
  .rankings-section .rihgt-img__box::before {
    background: linear-gradient(360deg, #011133 6.29%, rgba(3, 20, 45, 0) 24.57%);
  }
  .rankings-section .ranking-card__box .ranking-card {
    flex-direction: column;
    gap: 24px;
  }
  .rankings-section .ranking-card .bonus-box > .bonus-card {
    display: none;
  }
  .rankings-section .social-media {
    bottom: 130px;
    gap: 14px;
    flex-wrap: wrap;
    flex-direction: row;
    width: 78px;
  }
  .rankings-section .ranking-card .desc {
    margin: 12px 0;
  }
  .rankings-section .ranking-card__box .ranking-card {
    padding-top: 8px;
  }
  .rankings-section .ranking-card__box .ranking-card.no-img {
    padding-top: 42px;
  }
  .seo {
    padding: 32px 0 44px 0;
  }
  .footer-navigation {
    padding: 0 16px 21px 16px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-navigation .btn,
  .footer-navigation .frozen-btn,
  .footer-navigation .button-group {
    height: 40px;
    flex: 1 1 auto;
    font-size: 14px;
    gap: 8px;
  }
  .md-hide {
    display: none;
  }
  .md-show {
    display: flex !important;
  }
  .footer-navigation {
    gap: 24px !important;
  }
  .footer {
    background: #040e1a;
    padding: 24px 0;
  }
  .footer .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  .footer .container span {
    order: 1;
    color: #03476f;
  }
  .footer .social-media {
    display: none;
  }
  .footer .footer-logo path {
    fill: rgba(6, 141, 221, 0.5490196078);
  }
  .intro .btns .btn:last-child {
    padding: 0 7px;
    gap: 2px;
  }
  .intro .btns .btn:nth-child(2) {
    padding: 0 8px 0 10px;
    gap: 4px;
  }
  .tabs .tab-item {
    width: 202px;
  }
  .rankings-section .day-box__flex {
    gap: 12px;
  }
  .server-information .project-description .description-box {
    height: 388px;
    padding: 16px 10px 20px 12px;
  }
  .server-information .reviews-box .btns button:nth-child(2) span {
    display: none;
  }
  .server-information .achievements {
    justify-content: space-between;
  }
  .server-information .game-world .container {
    gap: 35px;
  }
  .server-information .achievements .star-box img {
    width: 10px;
    height: 10px;
    margin-left: -5px;
  }
  .server-information .achievements .box {
    width: 50px;
    height: 50px;
    padding: 9px;
  }
  .server-information .achievements .box img {
    width: 100%;
  }
  .server-information .achievements .box:last-child {
    display: none;
  }
  .server-information .seo {
    padding-top: 28px;
  }
  .seo {
    padding-left: 25px;
    padding-right: 25px;
  }
  .footer {
    background: transparent;
  }
  .server-information .media-block__box-footer {
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  .rankings-section .rihgt-img__box img {
    height: 175px;
  }
  .intro {
    background: url(../images/media-intro-bg.png) no-repeat !important;
    background-size: cover !important;
  }
}

/*# sourceMappingURL=main.css.map */
