button {
  cursor: pointer;
}

.btn,
.frozen-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 700;
  height: 35px;
  padding: 0 10px;
  color: #fff;
  background: linear-gradient(136.06deg,
      rgba(44, 128, 240, 0.04) 0%,
      rgba(255, 255, 255, 0) 106.04%);

  border: 1px solid #0a5bcf;
  box-shadow: 9.09px 4.55px 18.19px 0px #00000014,
    0px 0px 8.46px 0px #054095 inset;
  border-radius: 12px;
  width: fit-content;

  &.disabled {
    border: 2px solid #353945;
    background: none;
    box-shadow: none;
  }
}

.frozen-btn {
  background: linear-gradient(136.06deg,
      rgba(248, 251, 255, 0.04) 0%,
      rgba(255, 255, 255, 0) 106.04%);
  border: 0.91px solid #5a6896;
  box-shadow: 9.09px 4.55px 18.19px 0px #00000014,
    inset 0px 0px 8.46px 0px #677dc9;
  gap: 15px;
  padding: 0 19px 0 8px;
  color: #9e9e9e;
}

.primary-btn {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: center;
  color: #03a8f0;
  background: #04122cb2;
  border-radius: 15px;
  width: fit-content;
  padding: 0 28px;
  cursor: pointer;
  white-space: nowrap;
  border: 3px solid transparent;
  transition: all 0.2s linear;

  &.active {
    border-color: #0494fd !important;
    background: url(../../images/btn-bg.png) no-repeat, #001b4acc !important;
    color: #fff !important;
  }

  &:hover {
    border-color: #4ab9de;
    color: #fff;
    background: linear-gradient(0deg, #002367, #002367),
      radial-gradient(96.34% 67.76% at 50% 100.73%,
        rgba(0, 194, 255, 0.3) 31.5%,
        rgba(0, 0, 0, 0) 100%);
    box-shadow: 0px 0px 8px 0px #0454a6 inset;
  }
}

.button-group {
  display: flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(139.69deg,
      rgba(248, 251, 255, 0.04) 0%,
      rgba(255, 255, 255, 0) 110.25%);
  border: 1px solid #0a5bcf;
  box-shadow: 9.09px 4.55px 18.19px 0px #00000014,
    inset 0px 0px 9.09px 0px #0454a6;
  border-radius: 12px;
  height: 40px;
  width: fit-content;
  padding-right: 19px;

  .link-btn {
    height: 40px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btns {
    display: flex;
    align-items: center;
    gap: 21px;
  }

  .btn-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    color: #9e9e9e;
  }

  .line {
    height: 24.56px;
    width: 1px;
    background: #01376a;
  }
}

.primary-btn__two {
  padding: 10px 16px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.15000000596046448px;
  color: #fff;
  width: fit-content;
  background: #162379;
  border-radius: 10px;
  transition: all .2s linear;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: #2137BD;
  }

  &:focus {
    background: #3063E9;
  }
}

// .green-btn {
//   display: block;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   font-size: 16px;
//   font-weight: 600;
//   line-height: 24px;
//   letter-spacing: -0.02em;
//   padding: 13px;
//   border-radius: 12px;
//   color: #fff;
//   position: relative;
//   z-index: 1;

//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     border-radius: inherit;
//     z-index: -1;
//     background:
//       radial-gradient(123.7% 123.7% at 50% 23.3%, rgba(0, 134, 255, 0) 36.86%, rgba(1, 205, 252, 0.487085) 70.93%, rgba(1, 251, 251, 0.8) 100%),
//       radial-gradient(53% 53% at 50% 106%, rgba(1, 251, 251, 0.8) 9.77%, rgba(1, 205, 252, 0) 74.08%, rgba(0, 134, 255, 0) 100%),
//       linear-gradient(0deg, rgba(1, 124, 167, 0.21), rgba(1, 124, 167, 0.21)),
//       linear-gradient(90deg, rgba(34, 151, 57, 0.6) 0%, rgba(34, 151, 57, 0) 100%);
//   }

//   &::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: -2;
//     border-radius: inherit;
//     border: 2px solid;
//     background: linear-gradient(182.75deg, rgba(189, 0, 255, 0) -15.61%, #FFFFFF 97.7%),
//       linear-gradient(0deg, #1FD7FF, #1FD7FF),
//       linear-gradient(90deg, #96F49C 6%, rgba(150, 244, 156, 0) 59%);

//   }
// }
.green-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  padding: 13px;
  border-radius: 12px;
  color: #fff;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -1;
    background:
      radial-gradient(123.7% 123.7% at 50% 23.3%, rgba(0, 134, 255, 0) 36.86%, rgba(1, 205, 252, 0.487085) 70.93%, rgba(1, 251, 251, 0.8) 100%),
      radial-gradient(53% 53% at 50% 106%, rgba(1, 251, 251, 0.8) 9.77%, rgba(1, 205, 252, 0) 74.08%, rgba(0, 134, 255, 0) 100%),
      linear-gradient(0deg, rgba(1, 124, 167, 0.21), rgba(1, 124, 167, 0.21)),
      linear-gradient(90deg, rgba(34, 151, 57, 0.6) 0%, rgba(34, 151, 57, 0) 100%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -2;
    border: 2.3px solid;
    background:
      linear-gradient(182.75deg, rgba(189, 0, 255, 0) -15.61%, #FFFFFF 97.7%),
      linear-gradient(0deg, #1FD7FF, #1FD7FF),
      linear-gradient(90deg, #96F49C 16%, rgba(150, 244, 156, 0) 59%);
    background-origin: border-box;
    -webkit-mask:
      linear-gradient(black, black) content-box,
      linear-gradient(black, black);
    mask: linear-gradient(black, black),
      linear-gradient(black, black);
    -webkit-mask-clip: content-box, border-box;
    mask-clip: content-box, border-box;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}
