.page-two {
  .rankings-section {
    padding: 0;
  }
  .rankings-section .rankings-cards {
    gap: 16px;
  }
  .rankings-section .ranking-card {
    padding: 18px;
  }
  .rankings-section .ranking-card .desc {
    line-height: 14.7px;
  }
  .rankings-section .day-box {
    margin-top: 9px;

    &.mt {
      margin-top: 0;
    }
  }
  .intro {
    background: linear-gradient(
        180deg,
        rgba(7, 11, 20, 0.6) 0%,
        rgba(7, 11, 19, 0.581574) 8.08%,
        rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(
        180deg,
        rgba(7, 11, 20, 0) 0.17%,
        rgba(7, 11, 20, 0) 71.27%,
        rgba(7, 11, 20, 0.38) 85.65%,
        rgba(7, 11, 20, 0.81) 100%
      ),
      linear-gradient(
        360deg,
        rgba(7, 11, 20, 0) 0.17%,
        rgba(7, 11, 20, 0) 71.27%,
        rgba(7, 11, 20, 0.38) 85.65%,
        rgba(7, 11, 20, 0.81) 100%
      ),
      url(../../images/intro-bg.gif) no-repeat;
    border-radius: 0px 0px 100px 100px;
  }
  .ranking-card .ratings {
    grid-template-columns: 126px 139px 130px 126px;
  }
  .ranking-card .info-box {
    max-width: 654px;
  }
  .ratings {
    .rating-box {
      &:nth-child(1) {
        order: -3;
      }
      &:nth-child(2) {
        order: -2;
      }
      &:nth-child(5) {
        order: -1;
      }
      &:nth-child(6) {
        order: -1;
      }
    }
  }
  .seo {
    padding-top: 72px;
  }
}
.footer .container {
  padding: 0 27px;
}
// page-three
.page-three {
  .seo {
    padding-top: 26px;
  }
  .intro {
    background: linear-gradient(
        180deg,
        rgba(7, 11, 20, 0.6) 0%,
        rgba(7, 11, 19, 0.581574) 8.08%,
        rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(
        180deg,
        rgba(7, 11, 20, 0) 0.17%,
        rgba(7, 11, 20, 0) 71.27%,
        rgba(7, 11, 20, 0.38) 85.65%,
        rgba(7, 11, 20, 0.81) 100%
      ),
      linear-gradient(
        360deg,
        rgba(7, 11, 20, 0) 0.17%,
        rgba(7, 11, 20, 0) 71.27%,
        rgba(7, 11, 20, 0.38) 85.65%,
        rgba(7, 11, 20, 0.81) 100%
      ),
      url(../../images/game-art-bg-3.gif);
  }
}

.page-four {
  .seo {
    padding-top: 28px;
  }
  .intro {
    background: linear-gradient(
        180deg,
        rgba(7, 11, 20, 0.6) 0%,
        rgba(7, 11, 19, 0.581574) 8.08%,
        rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(
        180deg,
        rgba(7, 11, 20, 0) 0.17%,
        rgba(7, 11, 20, 0) 71.27%,
        rgba(7, 11, 20, 0.38) 85.65%,
        rgba(7, 11, 20, 0.81) 100%
      ),
      linear-gradient(
        360deg,
        rgba(7, 11, 20, 0) 0.17%,
        rgba(7, 11, 20, 0) 71.27%,
        rgba(7, 11, 20, 0.38) 85.65%,
        rgba(7, 11, 20, 0.81) 100%
      ),
      url(../../images/game-art-bg-4.png) no-repeat;
  }
}
